/*
 * Login: xspirk01
 *
 * Doplnte sve reseni.https://www.fit.vutbr.cz/study/courses/ITW/private/cviceni/projekt1/files/1920px.png
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 */
html, body {padding:0; margin:0; height:100%; width: 100%}

html{
    scroll-behavior: smooth;
}



#heisenberg{
    display: none;
    position: fixed;
    opacity: 0.9;
    border-radius: 20px;
    border: 1px solid white;    
    top: 40px;
    left: 42%;
    width: 300px;
    height: 120px;
    background-color: blue;
    box-shadow: 0px 0px 7px 2px blue;
}

.open{
    display: block !important;
    animation-direction: alternate;
    animation: goup 0.5s;
}

@keyframes goup {
  0% {left: 42%px; top: 80px; display: none; opacity: 0;}
  1% {display: block !important;opacity: 0;}
  100% {left: 42%px; top: 40px;display: block  !important;opacity: 0.9;}
}



#heisenberg img{
    padding: 10px;
    height: 80%;
}

#heisenberg div{
    font-size: 15px;
    margin-top: 35px;
    margin-right: 10px;
    font-family: Poppins;
    color: white;
    float: right;
    width: 180px;
}

#heisenberg div b:nth-child(1){
    font-weight: normal;
    margin-bottom: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: 200px;
}

#header::before{
    content : "";
    display: block;
    position: absolute;
    width: 100%;
    height: 67%;
    margin-top: 85px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../img/header.jpg');
    background-position: 45% 51%;
    box-shadow: inset 0px 0px 8px 5px  white; 
}
#header{
    height: 80%;
    min-height: 400px;
}


/*------Logo------*/
.logo{
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: Bebas Neue;
    border-top: 1px solid #e8e7e7;
    border-left: 1px solid #e8e7e7;
    padding-top: 20px;
    box-shadow:  0px 0px 5px 4px  white; 
}

.logo a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-left: 40px;
}
.logo a:hover{
    font-size: 0;
}

.logo a:hover:after{
    font-size: 32px;
    content: 'THE CRYSTAL PALACE';
    color: #cc3636 ;
    transition: 0.5s;
}

.logo::first-letter{
    color: #cc3636 ;
}

.phone i {
    margin-right: 0.25rem;
    color: #cc3636;
}

.mail i {
    margin-right: 0.25rem;
    color: #cc3636;
}

/*-----Networks-----*/
header .networks{
    margin-top: 5px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    justify-self: end;
}

.networks a{
    margin-left: 5px;
    color: #363535;
}

.networks a:hover{
    color: #cc3636;
    transition: color 0.5s;
}


header .contacts {
    display: b;
    font-family: Poppins;
    font-size: 16px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px;
    grid-column: 1 / 2;
}

header .contacts .phone{
    grid-column: 2;
}

header .contacts .mail{
    grid-row: 1;
    grid-column: 1;
}
.mail a{
    text-decoration: none;
    color: black;
}
.mail a:hover{
    color:#cc3636 ;
    transition: color 0.5s;
}

header nav{
    background-color: white;
    height: 80px;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top: 1px solid #ffd0d0;
    border-right: 1px solid #ffd0d0;
    box-shadow:  0px 0px 5px 4px  white; 
}

#header-menu{
    background-color: white;
    display: grid;
    grid-template-columns: 40%  60%;
    grid-template-rows: auto auto;
    gap: 2px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1050px;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    margin-right: 40px;
    padding-top: 15px;
    list-style: none;
}

nav li a{
    font-family: Poppins;
    font-size: 14px;
    color: #888888;
    text-decoration: none;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    padding: 0 10px 5px 10px;
}

nav li a:hover{
    color: #363535;
    border-bottom: 1px solid #cc3636;
    font-weight: bold;
    transition: 0.5s;
    
}

nav ul li::last-child{
    padding-right: 0;
    margin-right: 40px;
}

.open  ul { 
    display: block !important ;
}

#tours-button ul{
    display: none;
    background-color: white;
    width: 75px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 8px 10px 10px;
    position: absolute;
    box-shadow:  0px 0px 5px 4px  white; 
}

#tours-button ul a{
    margin-top: 10px;
    margin-left: 8px;
    display: inline-block;
    padding: 5px;
}

#tours-button ul li::before{
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f054';
    font-size: 10px;
    color:#cc3636 ;
}

#header-title{
    height: 80%;
    min-height: 400px;
}
#header-title p {
    position: absolute;
    bottom: 35%;
    right: 50px;
    width: 402px;
    font-family: 'Poppins';
}

#header-title p span:nth-child(1){
    color: white;
    text-shadow: white 1px 0 10px;
    font-size: 52px;
    text-transform: capitalize;
}

#header-title p span:nth-child(2){
    margin-left: 15%;
    font-size: 24px;
    color: #cc3636;
    text-transform: capitalize;
    text-shadow: #cc3636 1px 0 10px;
}

#header-form {
    display: inline-block;
    position: absolute;
    bottom: 21%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    max-width: 1000px;
    width: 80%;
    padding: 15px;
    border-bottom: solid #ffd0d0 1px;
    box-shadow: 0px 2px 3px 0 #ffd0d0, 1px 1px 10px 10px white;
}

#header-form form {
    margin-left: 0px;
    width: 104%;
}

#header-form form  select:active {
    background-color: white;

}
#header-form form input, select {
    width: 17%;
    min-width: 125px;
    padding: 15px 10px 15px 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: solid 1px #e8e7e7;
}

#header-form form input[type=date] {
    min-width: 150px;
}

#header-form form input:focus{
    border: solid 2px #7564d4;
}

input::-webkit-datetime-edit-day-field:focus{
    background-color: #7564d4;
}
input::-webkit-datetime-edit-month-field:focus{
    background-color: #7564d4;
}
input::-webkit-datetime-edit-year-field:focus{
    background-color: #7564d4;
}

#header-form form:valid input[type=submit] , #contact form:valid input[type=submit] {
  background-color: blue;
}

#header-form form input:focus-visible{
    outline: none;
}

#header-form form input[type=submit]:disabled, #contact form input[type=submit]:disabled{
    background-color: gray;
    border: none;
    
}

#header-form form input[type=submit] {
    padding:  17px 35px 17px 35px;
    background-color: #cc3636;
    color: white;
}


/*---------------ABOUT----------------*/

#about {
    margin: 30px 0 110px 0;
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    background-image: url("/img/meth.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 100%;
    position: relative;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#about::before{
    content: '';
    background-image: url(../img/meth.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 57%;
    position: absolute;
    background-position: 100% 45%;
    background-repeat:no-repeat;
    z-index: -1;

}
#about img {
    width: 40%; 
    bottom: 0;
    top: 0;
    opacity: 0.9;
    display: block;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    order: 1;
    float: left;
    z-index: 2;
}

#about .heading span{
    text-align: left;
    margin-left: 40px;
}

#about .heading h2{
    text-align: left;
    margin-left: 40px;
}

#about .heading {
    width: 60%;
    background-color: #e8e7e7;
    position: absolute;
    margin-top: auto;
    text-align: left;
    bottom: 55%;
    padding-bottom: 20px;
    padding-left: 40%;
    padding-top: 2%;
    border-top: solid 2px #e8e7e7;
    border-right: solid 2px #e8e7e7;
    border-left: solid 2px #e8e7e7;
}

#about p {
    font-family: Poppins;
    font-size: 16;
    width: 57%;
    padding-top: 10px;
    padding-left: 43%;
    padding-bottom: 8%;
    position: relative;
    background-color: #e8e7e7;
    margin: auto;
    margin-top: 26%;
    border-bottom: solid 2px #e8e7e7;
    border-right: solid 2px #e8e7e7;
    border-left: solid 2px #e8e7e7;
}

#about:hover img{
    transform: scale(1.05);
    opacity: 1;
     transition: 0.5s;
}
#about:hover .heading{
    background-color: #ffd0d0;
    border-top: solid 2px #cc3636;
    border-right: solid 2px #cc3636;
    border-left: solid 2px #cc3636;
    transition: 0.5s;
}
#about:hover p {
    background-color: #ffd0d0;
    border-bottom: solid 2px #cc3636;
    border-right: solid 2px #cc3636;
    border-left: solid 2px #cc3636;
    transition: 0.5s;
}
/*-------------SERVICES---------------*/
#services{
    width: 100%;
    background-color: #e8e7e7;
    padding-top: 60px;
    padding-bottom: 50px;
}

.heading span{
    letter-spacing: 0.4rem;
    font-family: Bebas Neue;
    font-size: 16px;
    color: #cc3636;
    display: block;
    text-align: center;
}
.heading h2{
    font-family: Poppins;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

#services .section-content{
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

#services img{
    height: 300px;
    object-fit: cover;
    width: 285px;
}

#services .section-content {
     text-align: center;
 }

#services .section-item{
    width: auto;
    min-width: 250px ;
 }

#services .section-content p{
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    color: #363535;
}

#services .section-content h3{
    display: inline-flex;
    font-family: Poppins;
    color: #363535;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#services .section-item:hover  p{
    color: black;
    transition: 0.5s;
}

#services .section-item:hover h3{
    color: black;
    border-bottom: 1px solid #cc3636;
    transition: 0.5s;
}

#services .section-item:hover img{
     transform: scale(1.05); 
     transition: 0.5s;
}



/*-----------Tours------------*/

#tours::before{
    content: '';
    background-image: url(../img/crystal-ship.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 35%;
    position: absolute;
    background-position: 2% 0%;
    background-repeat:no-repeat;
    z-index: -1;

}
/*-----------Tour1------------*/
#tours .heading{

    margin-top: 50px;
}

#tours .section-content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    max-width: 1200px;
    margin: auto;

}

#tour1{
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #888888;
}

#tour1 h3{
    display: inline-flex;
    color: #363535;
    font-family: Poppins;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-align: right;
}

#tour1 .tour-props{
    font-family: Poppins;
    font-size: 1rem;
    margin-top: 20px;
    text-align: right;
}
.tour-stars:before{
    font-family: 'FontAwesome';
    content: '\f005';
    font-size: 1rem;
    color:#cc3636; 
    margin-right: 5px;
}
.tour-duration:before{
    font-family: 'FontAwesome';
    content: '\f073';
    font-size: 1rem;
    color:#cc3636; 
    margin-right: 5px;
    border-left: 1px solid black;
    padding: 4px 0px 4px 5px;
}
.tour-price:before{
    font-family: 'FontAwesome';
    content: '\f15a';
    font-size: 1rem;
    color:#cc3636; 
    margin-right: 5px;
    border-left: 1px solid black;
    padding: 4px 0px 4px 6px;
}

#tour1 img{
    float: right;
    width: 40%;
    padding:0 0 30px 20px;
}

#tour1 p{
    color: #363535;
    width: 100%;
    font-size: 1rem;
    font-family: Poppins;
    text-align: justify;
}

/*-----------Tour1------------*/

#tour2{
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #888888;
}

#tour2 h3{
    display: inline-flex;
    color: #363535;
    font-family: Poppins;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: left;

}

#tour2 .tour-props{
    font-family: Poppins;
    font-size: 1rem;
    margin-top: 20px;
    text-align: left;
}

#tour2 img{
    float: left;
    width: 40%;
    padding:0 20px 25px 0;
}

#tour2 p{
    color:#363535;
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
    font-family: Poppins;
    text-align: justify;
}

/*-----------Tour3-------------*/


#tour3{
    padding-top: 40px;
    padding-bottom: 20px;
}

#tour3 h3{
    display: inline-flex;
    color: #363535;
    font-family: Poppins;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: right;

}

#tour3 .tour-props{
    font-family: Poppins;
    font-size: 1rem;
    margin-top: 25px;
    text-align: right;
}

#tour3 img{
    float: right;
    width: 40%;
    padding:0 0 20px 20px;
}

#tour3 p{
    color: #363535;
    margin-top: 20px;
    font-size: 1rem;
    font-family: Poppins;
    text-align: justify;
}

#tour1,#tour3 {
     text-align: right;
 }

#tours .section-item:hover  p{
    color: black;
    transition: 0.5s;
}

#tours .section-item:hover h3{
    color: black;
    border-bottom: 1px solid #cc3636;
    transition: 0.5s;
}

#tours .section-item:hover img{
    transform: scale(1.05); 
    transition: 0.5s;
}



/*-----------------------------------PRICE-------------------------------*/
#price{
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 600px;
    margin-bottom: 200px;
}

#price .section-content:before{
    content : "";
    display: block;
    position: absolute;
    background-image: url('../img/huel.jpg');
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    overflow: hidden;
    background-position: 65% 20%;
    background-repeat:no-repeat;
    box-shadow: inset 0px 0px 29px 48px  white; 
    z-index: -1;
}

#price .heading{
    margin-top: 140px;
}
#price .section-item{
    font-family: Poppins;
    font-size: 1rem;
}
#price .section-item h3{
    margin-left: 7px;
}
#price .section-item ul li {
    list-style: none;
}
#price .section-item ul li:before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 25px;
  background-image: url('../img/crystal.svg');
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}

#price .section-content div:nth-child(1){
    width: 150px;
    padding: 1px 4px 8px 4px;
    background-color: white;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 15px  white; 
    top: 50px;
    left:50%; 
}
#price .section-content div:nth-child(2){
    width: 150px;
    padding: 1px 15px 8px 4px;
    background-color: white;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 9px  white; 
    top: 50px;
    left:66%;
    
}
#price .section-content div:nth-child(3){
    width: 250px;
    padding: 1px 4px 8px 4px;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 11px 9px  white;
    border-radius: 30px; 
    top: 80px;
    left:73%;
}
#price {
     text-align: left;
 }

#price h3{
    margin-bottom: 0;
    display: inline-flex;
    text-align: left;

}

/*---------Hover Price----------*/

#price .section-item span{
    visibility: hidden;
}

#price .section-item:hover span{ 
    visibility: visible;
    position: absolute;
    color: blue;
    top: 22px;
    left: 80%;
}

#price .section-content:hover::before{
    opacity: 0.4;
    transition: 0.5s;
}
#price .section-item:hover li:before {
    background-image: url('../img/crystal-blue.svg');
    transition: 0.5s;
}

#price .section-item:hover h3{
    color: black;
    border-bottom: 1px solid #cc3636;
    transition: 0.5s;
}
 


 /*------------Clients------------*/
#clients{
    max-width: 1200px;
    min-width: 768px;
    margin:auto;
    margin-bottom:100px;
}

#clients .section-content{
    margin-top: 20px;
    display: grid;
    padding: 40px 0 40px 0;
    max-width: calc(1200px + (1200px - 768px)/2);
}

#clients .section-content div:nth-child(1){

}

#clients .section-content div:nth-child(1) img{
    float: right;
    margin-right: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50% 30% 52% 25% / 50% 21% 52% 25%  ;
    box-shadow: 0px 0px 12px 0px #363535;
}

#clients .section-content div:nth-child(2) img{
    float: left;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 30% 50% 25% 52% / 21% 50% 25% 52%   ;
    box-shadow: 0px 0px 12px 0px #363535;
}

#clients .section-content div:nth-child(1) blockquote{
    font-family: Poppins;
    float: left;
    background-color: #e8e7e7;
    display: inline-block;
    text-align: center;
    padding: 18px;
    width: 45%;
    border-radius: 7% 57% 7% 35% / 41% 33% 37% 35%  ;
}

#clients .section-content div:nth-child(1) blockquote:after{
    content : "";
    display: block;
    position: absolute;
    display: inline-block;
    background-color:  #e8e7e7;
    margin-top: 25px;
    margin-left: 220px;
    height: 30px;
    width: 75px;
    border-radius: 7% 57% 7% 35% / 41% 33% 37% 35%;
 }

#clients .section-content div:nth-child(2) blockquote{
    font-family: Poppins;
    margin-top: 50px;
    float: right;
    background-color: #e8e7e7;
    display: inline-block;
    text-align: center;
    padding: 18px;
    width: 45%;
    border-radius: 57% 7% 35% 7% / 41% 33% 35% 37% ;
}

#clients .section-content div:nth-child(2) blockquote:before{
    content : "";
    display: block;
    position: absolute;
    display: inline-block;
    background-color:  #e8e7e7;
    margin-top: 25px;
    margin-left: -260px;
    height: 30px;
    width: 75px;
    border-radius: 57% 7% 35% 7% / 41% 33% 35% 37% ;
 }

 #clients .section-content .section-item:hover img{
    box-shadow: 0px 0px 13px 2px #cc3636;
    color: red;
    transform: scale(1.05);
    transition: 0.5s;
}

#clients .section-content .section-item:hover blockquote{
    background-color:  #cc3636;
    color: white;
    transition: 0.5s;
}

#clients .section-content .section-item:hover blockquote:before{
    background-color: #ffd0d0;
    transition: 0.5s;
}

#clients .section-content .section-item:hover blockquote::after{
    background-color: #ffd0d0;
    transition: 0.5s;
}


/*--------Footer-------*/

footer {
    background-color: #363535;
    color: white;
    font-family: Poppins;
    padding-top: 10px;
    background-color: #363535;
    width: 100%;
    font-size: 10px;
}

footer div {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: minmax(0, 30%) minmax(0, 20%) minmax(0, 50%);
    column-gap: 200px;
}

footer h2, h3{
    font-weight: normal;
    font-family: Bebas Neue;
    font-size: 16px;
    letter-spacing: 0.2rem;
}


/*---------FollowUs---------*/
#summary{
    padding-left: 10px;
}
#summary h2:first-letter{
    color: #cc3636;
}
#summary .networks i{
    color: white;
    padding: 5px;
    border: 1px solid #cc3636;
    margin-bottom: 10px;
}
#summary .networks {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    column-gap: 4px;
    margin-left: -5px;
}
#summary .networks i:hover{
    background-color: #cc3636;
    transition: background 0.5s;
}

/*---------Contacts---------*/
#contact{
    margin-left: 25px;
}
#contact .contacts{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 0px;
}
#contact .contacts i{
    margin-top: 5px;
    margin-right: 3px;
    color: #cc3636;
}
#contact .contacts a{
    text-decoration: none;
    color: white;
}

#contact .contacts a:hover{
    color: #cc3636;
    transition: color 0.5s;
}

/*---------NewsLetter---------*/

input[type=email]{
    padding: 5px 8px;
    border: none;
}
input[type=submit]{
    padding: 6px 10px 6px 10px;
    background-color: #cc3636;
    margin-left: -3px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 11px;
}

#license{
    max-width: 1200px;
    font-size: 11px;
    border-top: 1px solid white;
    content: "";
    clear: both;
    display: table;
    color: white;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

#license span{
    padding-left: 10px;
}

#license a{
    text-decoration: none;
    color: white;
    float: right;
    padding-right: 10px;
}
#links{
    margin-left: 50px;
}

#license a:hover{
    color: #cc3636;
    transition: color 0.5s;
}

#links li{
    margin-bottom: 7px;
}

#links li a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
#links ul{
    list-style: none;
    margin-left: -40px;
}
#links ul li::before{
    font-family: 'FontAwesome';
    content: '\f054';
    font-size: 7px;
    color:#cc3636 ;
    margin-right: 5px;
}
#jesse{
    display: none;
    transition: 0.5s;
    position: fixed; 
    bottom: 10px; 
    right: 20px;
    color: #cc3636;
    padding: 15px 20px;
    border: 1px solid #cc3636;
}
.scrolled #jesse{
   display: block;
}
#jesse:hover{
    background-color:  #cc3636;
    color: white;
}
